In [1]:
# download monthly performance data file, pair with loan sequence number, monthly performance
# table with have current loan delinquency status, which corresponds to the number of days the borrower
# is delinquent

In [17]:
# APPENDIX:

# sample_orig_YYYY.txt --> origination data
# sample_svcg_YYYY.txt --> monthly performance data

# superConformingFlag --> For mortagages that exceed conforming loan limits with origination dates on or after 10/1/2008
# and settlements on or after 1/1/2009.

# pre-HarpLoanSequenceNumber --> The Loan Sequence Number link that associates this HARP loan to the Pre-HARP Loan Sequence
# Number in the Single Family loan level dataset already being published on a quarterly basis.

In [2]:
# Import modules.
import pandas as pd

In [24]:
# Load data.
orig = orig_2017
perf = perf_2017

In [25]:
# View data.
print(orig.shape)
print(orig.columns)
orig.head()

(25000, 26)
Index(['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag',
       'maturityDate', 'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
       'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb', 'ltvRatio',
       'interestRate', 'channel', 'ppmFlag', 'productType', 'propertyState',
       'propertyType', 'postalCode', 'loanSequenceNumber', 'loanPurpose',
       'originalLoanTerm', 'numberOfBorrowers', 'sellerName', 'servicerName',
       'superConformingFlag'],
      dtype='object')

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,794,201703,9,204702,24260.0,0,1,P,74,29,...,NE,SF,68800,F117Q1000068,C,360,2,Other sellers,Other servicers,NaN
1,776,201703,N,203202,NaN,0,1,P,50,20,...,OH,SF,44600,F117Q1000079,P,180,1,Other sellers,Other servicers,NaN
2,795,201703,9,203202,49180.0,0,1,P,55,26,...,NC,SF,27200,F117Q1000090,C,180,1,Other sellers,Other servicers,NaN
3,785,201705,9,204704,NaN,30,1,P,95,20,...,OK,SF,74800,F117Q1000113,N,360,2,Other sellers,Other servicers,NaN
4,758,201703,9,203202,24260.0,0,1,P,80,35,...,NE,SF,68800,F117Q1000168,C,180,2,Other sellers,Other servicers,NaN

In [28]:
# View data.
print(perf.shape)
print(perf.columns)
perf.head()

(205484, 25)
Index(['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
       'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity',
       'repurchaseFlag', 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate',
       'currentIntRate', 'curDeferredUpb', 'ddlpi', 'miRecov',
       'netSalesProceeds', 'nonMiRecov', 'expenses', 'legalCosts',
       'maintPreservationCosts', 'taxesInsurance', 'miscExpenses',
       'actualLossCalc', 'modificationCost', 'stepModificationFlag',
       'deferredPaymentModification'],
      dtype='object')

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F117Q1000068,201702,129000.0,0,0,360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F117Q1000068,201703,129000.0,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F117Q1000068,201704,128000.0,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F117Q1000068,201705,128000.0,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F117Q1000068,201706,128000.0,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [ ]:
# trim perf df by reporting period or loanSequenceNumber

In [ ]:
# transpose df.columns to place side-by

In [36]:
# Viewing sample perf, less indexes were copied from txt file.
# Will use to this sample perf to match loanSequenceNumber

mlePerf = pd.read_csv('~/src/data/u3CapstoneData/perf-data/mle_perf2017.csv', sep='|',
                      header=None, low_memory=False)
mlePerf.columns = perf_2017_cols
mlePerf.head(10)

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F117Q1000068,201702,129000.00,0,0,360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F117Q1000068,201703,129000.00,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F117Q1000068,201704,128000.00,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F117Q1000068,201705,128000.00,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F117Q1000068,201706,128000.00,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
5,F117Q1000068,201707,128000.00,0,5,355,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
6,F117Q1000068,201708,128000.00,0,6,354,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
7,F117Q1000068,201709,127112.25,0,7,353,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
8,F117Q1000068,201710,126707.92,0,8,352,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
9,F117Q1000068,201711,126363.75,0,9,351,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [37]:
print(orig.shape)
orig.head(10)

(25000, 26)

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,794,201703,9,204702,24260.0,0,1,P,74,29,...,NE,SF,68800,F117Q1000068,C,360,2,Other sellers,Other servicers,NaN
1,776,201703,N,203202,NaN,0,1,P,50,20,...,OH,SF,44600,F117Q1000079,P,180,1,Other sellers,Other servicers,NaN
2,795,201703,9,203202,49180.0,0,1,P,55,26,...,NC,SF,27200,F117Q1000090,C,180,1,Other sellers,Other servicers,NaN
3,785,201705,9,204704,NaN,30,1,P,95,20,...,OK,SF,74800,F117Q1000113,N,360,2,Other sellers,Other servicers,NaN
4,758,201703,9,203202,24260.0,0,1,P,80,35,...,NE,SF,68800,F117Q1000168,C,180,2,Other sellers,Other servicers,NaN
5,789,201703,9,203202,21780.0,0,1,P,59,33,...,IN,SF,47600,F117Q1000245,C,180,1,Other sellers,Other servicers,NaN
6,807,201703,9,203202,19740.0,0,1,P,17,19,...,CO,SF,80000,F117Q1000260,N,180,2,Other sellers,"PNCBANK,NATL",NaN
7,772,201704,9,203203,17860.0,0,1,P,74,42,...,MO,SF,65200,F117Q1000265,N,180,1,USBANKNA,USBANKNA,NaN
8,663,201703,9,203202,38340.0,0,1,P,52,14,...,MA,SF,1200,F117Q1000280,C,180,1,Other sellers,Other servicers,NaN
9,710,201703,N,204702,16580.0,0,1,P,79,27,...,IL,SF,61800,F117Q1000283,P,360,1,Other sellers,Other servicers,NaN

# Data

# 1999:

In [15]:
# Origination Data
orig_1999 = pd.read_csv('~/src/data/u3CapstoneData/origination-data/sample_orig_1999.txt',
                               sep='|', header=None)
orig_1999_cols = ['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag', 'maturityDate',
                   'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
                   'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb',
                   'ltvRatio', 'interestRate', 'channel', 'ppmFlag', 'productType',
                   'propertyState', 'propertyType', 'postalCode', 'loanSequenceNumber',
                   'loanPurpose', 'originalLoanTerm', 'numberOfBorrowers', 'sellerName',
                   'servicerName', 'superConformingFlag'] # 'pre-HarpLoanSequenceNumber'
orig_1999.columns = orig_1999_cols
orig_1999.head()

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,799,199903,N,202901,37620.0,0,1,P,70,25,...,WV,SF,26100.0,F199Q1000012,N,359,1,Other sellers,Other servicers,NaN
1,635,200212,N,202904,10420.0,0,1,P,76,21,...,OH,SF,44700.0,F199Q1000024,P,317,2,Other sellers,Other servicers,NaN
2,787,199905,N,202904,12060.0,999,1,P,80,18,...,GA,PU,30500.0,F199Q1000036,P,360,2,FT MORTGAGE COMPANIE,CHASEMTGECO,NaN
3,726,199904,N,202903,28140.0,0,1,P,80,37,...,KS,SF,66000.0,F199Q1000060,P,360,2,FLEET MORTGAGE CORPO,Other servicers,NaN
4,748,199905,9,202904,17140.0,999,1,P,80,28,...,OH,SF,45200.0,F199Q1000097,N,360,2,Other sellers,Other servicers,NaN

In [16]:
# Monthly Performance Data
perf_1999 = pd.read_csv('~/src/data/u3CapstoneData/perf-data/sample_svcg_1999.txt',
                               sep='|', header=None, low_memory=False)
perf_1999_cols = ['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
                 'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity', 'repurchaseFlag',
                 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate', 'currentIntRate',
                 'curDeferredUpb', 'ddlpi', 'miRecov', 'netSalesProceeds', 'nonMiRecov',
                 'expenses', 'legalCosts', 'maintPreservationCosts', 'taxesInsurance',
                 'miscExpenses', 'actualLossCalc', 'modificationCost',
                 'stepModificationFlag', 'deferredPaymentModification']
perf_1999.columns = perf_1999_cols
perf_1999.head()

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F199Q1000012,200208,42058.58,0,42,317,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F199Q1000012,200209,42011.81,0,43,316,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F199Q1000012,200210,41964.77,0,44,315,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F199Q1000012,200211,41917.46,0,45,314,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F199Q1000012,200212,41869.88,0,46,313,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

# 2000:

In [18]:
# Origination Data
orig_2000 = pd.read_csv('~/src/data/u3CapstoneData/origination-data/sample_orig_2000.txt',
                               sep='|', header=None)
orig_2000_cols = ['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag', 'maturityDate',
                   'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
                   'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb',
                   'ltvRatio', 'interestRate', 'channel', 'ppmFlag', 'productType',
                   'propertyState', 'propertyType', 'postalCode', 'loanSequenceNumber',
                   'loanPurpose', 'originalLoanTerm', 'numberOfBorrowers', 'sellerName',
                   'servicerName', 'superConformingFlag'] # 'pre-HarpLoanSequenceNumber'
orig_2000.columns = orig_2000_cols
orig_2000.head()

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,750,200205,N,203004,NaN,0,1,P,49,21,...,WI,SF,53000.0,F100Q1000004,P,336,2,Other sellers,Other servicers,NaN
1,698,200210,N,203003,15940.0,0,1,P,78,25,...,OH,SF,44700.0,F100Q1000012,C,330,2,Other sellers,Other servicers,NaN
2,708,200210,N,203003,33340.0,25,1,P,88,38,...,WI,SF,53000.0,F100Q1000016,P,330,2,Other sellers,Other servicers,NaN
3,813,200302,N,203004,15380.0,0,1,P,78,22,...,NY,SF,14200.0,F100Q1000024,P,327,2,Other sellers,Other servicers,NaN
4,734,200004,N,203003,36740.0,17,1,P,90,40,...,FL,SF,32700.0,F100Q1000033,P,360,1,Other sellers,CHASEMTGECO,NaN

In [19]:
# Monthly Performance Data
perf_2000 = pd.read_csv('~/src/data/u3CapstoneData/perf-data/sample_svcg_2000.txt',
                               sep='|', header=None, low_memory=False)
perf_2000_cols = ['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
                 'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity', 'repurchaseFlag',
                 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate', 'currentIntRate',
                 'curDeferredUpb', 'ddlpi', 'miRecov', 'netSalesProceeds', 'nonMiRecov',
                 'expenses', 'legalCosts', 'maintPreservationCosts', 'taxesInsurance',
                 'miscExpenses', 'actualLossCalc', 'modificationCost',
                 'stepModificationFlag', 'deferredPaymentModification']
perf_2000.columns = perf_2000_cols
perf_2000.head()

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F100Q1000004,200204,187380.71,0,24,336,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F100Q1000004,200205,187380.71,0,25,335,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F100Q1000004,200206,187203.14,0,26,334,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F100Q1000004,200207,187024.52,0,27,333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F100Q1000004,200208,186844.84,0,28,332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

# 2001:

In [26]:
# Origination Data
orig_2001 = pd.read_csv('~/src/data/u3CapstoneData/origination-data/sample_orig_2001.txt',
                               sep='|', header=None)
orig_2001_cols = ['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag', 'maturityDate',
                   'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
                   'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb',
                   'ltvRatio', 'interestRate', 'channel', 'ppmFlag', 'productType',
                   'propertyState', 'propertyType', 'postalCode', 'loanSequenceNumber',
                   'loanPurpose', 'originalLoanTerm', 'numberOfBorrowers', 'sellerName',
                   'servicerName', 'superConformingFlag'] # 'pre-HarpLoanSequenceNumber'
orig_2001.columns = orig_2001_cols
orig_2001.head()

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,783,200204,N,203104,31540.0,0,1,P,35,20,...,WI,SF,53500.0,F101Q1000011,P,349,1,Other sellers,Other servicers,NaN
1,699,200105,N,203104,12060.0,25,1,P,90,19,...,GA,PU,30100.0,F101Q1000086,C,360,1,CHASEMANHATTANMTGECO,CHASEMTGECO,NaN
2,715,200105,N,203104,41180.0,0,1,P,59,41,...,MO,SF,63300.0,F101Q1000161,N,360,2,WELLSFARGOHOMEMORTGA,WELLSFARGOHOMEMORTGA,NaN
3,648,200104,N,203103,47894.0,0,1,P,80,35,...,VA,PU,20100.0,F101Q1000171,P,360,1,BRANCHBANKING&TRUSTC,BRANCHBANKING&TRUSTC,NaN
4,720,200104,N,203103,14260.0,0,1,P,73,47,...,ID,SF,83600.0,F101Q1000182,N,360,1,"SUNTRUSTMORTGAGE,INC","SUNTRUSTMORTGAGE,INC",NaN

In [27]:
# Monthly Performance Data
perf_2001 = pd.read_csv('~/src/data/u3CapstoneData/perf-data/sample_svcg_2001.txt',
                               sep='|', header=None, low_memory=False)
perf_2001_cols = ['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
                 'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity', 'repurchaseFlag',
                 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate', 'currentIntRate',
                 'curDeferredUpb', 'ddlpi', 'miRecov', 'netSalesProceeds', 'nonMiRecov',
                 'expenses', 'legalCosts', 'maintPreservationCosts', 'taxesInsurance',
                 'miscExpenses', 'actualLossCalc', 'modificationCost',
                 'stepModificationFlag', 'deferredPaymentModification']
perf_2001.columns = perf_2001_cols
perf_2001.head()

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F101Q1000011,200203,71966.12,0,11,349,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F101Q1000011,200204,71966.12,0,12,348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F101Q1000011,200205,71230.94,0,13,347,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F101Q1000011,200206,71230.94,0,14,346,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F101Q1000011,200207,70860.07,0,15,345,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

# 2002:

In [32]:
# Origination Data
orig_2002 = pd.read_csv('~/src/data/u3CapstoneData/origination-data/sample_orig_2002.txt',
                               sep='|', header=None)
orig_2002_cols = ['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag', 'maturityDate',
                   'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
                   'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb',
                   'ltvRatio', 'interestRate', 'channel', 'ppmFlag', 'productType',
                   'propertyState', 'propertyType', 'postalCode', 'loanSequenceNumber',
                   'loanPurpose', 'originalLoanTerm', 'numberOfBorrowers', 'sellerName',
                   'servicerName', 'superConformingFlag'] # 'pre-HarpLoanSequenceNumber'
orig_2002.columns = orig_2002_cols
orig_2002.head()

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,673,200204,N,203203,NaN,25,1,P,84,29,...,OR,SF,97600.0,F102Q1000047,P,360,2,Other sellers,Other servicers,NaN
1,668,200204,N,203203,NaN,0,1,P,80,32,...,OR,SF,97600.0,F102Q1000070,P,360,2,Other sellers,Other servicers,NaN
2,773,200204,N,203203,45780.0,0,1,P,80,35,...,OH,SF,43500.0,F102Q1000107,P,360,1,Other sellers,Other servicers,NaN
3,683,200205,N,203204,13460.0,0,1,P,79,60,...,OR,SF,97700.0,F102Q1000130,C,360,2,Other sellers,Other servicers,NaN
4,642,200204,N,203203,38900.0,25,1,P,90,32,...,OR,SF,97200.0,F102Q1000142,C,360,2,Other sellers,Other servicers,NaN

In [33]:
# Monthly Performance Data
perf_2002 = pd.read_csv('~/src/data/u3CapstoneData/perf-data/sample_svcg_2002.txt',
                               sep='|', header=None, low_memory=False)
perf_2002_cols = ['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
                 'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity', 'repurchaseFlag',
                 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate', 'currentIntRate',
                 'curDeferredUpb', 'ddlpi', 'miRecov', 'netSalesProceeds', 'nonMiRecov',
                 'expenses', 'legalCosts', 'maintPreservationCosts', 'taxesInsurance',
                 'miscExpenses', 'actualLossCalc', 'modificationCost',
                 'stepModificationFlag', 'deferredPaymentModification']
perf_2002.columns = perf_2002_cols
perf_2002.head()

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F102Q1000047,200203,39000.0,0,0,360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F102Q1000047,200204,38000.0,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F102Q1000047,200205,38000.0,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F102Q1000047,200206,38000.0,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F102Q1000047,200207,38000.0,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

# 2003:

In [34]:
# Origination Data
orig_2003 = pd.read_csv('~/src/data/u3CapstoneData/origination-data/sample_orig_2003.txt',
                               sep='|', header=None)
orig_2003_cols = ['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag', 'maturityDate',
                   'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
                   'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb',
                   'ltvRatio', 'interestRate', 'channel', 'ppmFlag', 'productType',
                   'propertyState', 'propertyType', 'postalCode', 'loanSequenceNumber',
                   'loanPurpose', 'originalLoanTerm', 'numberOfBorrowers', 'sellerName',
                   'servicerName', 'superConformingFlag'] # 'pre-HarpLoanSequenceNumber'
orig_2003.columns = orig_2003_cols
orig_2003.head()

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,813,200304,N,203303,16974.0,0,1,P,35,61,...,IL,CO,60600,F103Q1000013,C,360,1,Other sellers,Other servicers,NaN
1,787,200303,N,203302,44140.0,0,1,P,72,50,...,MA,SF,1000,F103Q1000056,N,360,1,Other sellers,Other servicers,NaN
2,700,200303,N,203302,33460.0,0,1,P,79,43,...,WI,SF,54000,F103Q1000070,C,360,1,Other sellers,Other servicers,NaN
3,715,200303,N,203302,44140.0,30,1,P,95,23,...,MA,SF,1000,F103Q1000084,P,360,2,Other sellers,Other servicers,NaN
4,731,200303,N,203302,NaN,0,1,P,80,25,...,WI,SF,53100,F103Q1000098,N,360,1,Other sellers,Other servicers,NaN

In [35]:
# Monthly Performance Data
perf_2003 = pd.read_csv('~/src/data/u3CapstoneData/perf-data/sample_svcg_2003.txt',
                               sep='|', header=None, low_memory=False)
perf_2003_cols = ['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
                 'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity', 'repurchaseFlag',
                 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate', 'currentIntRate',
                 'curDeferredUpb', 'ddlpi', 'miRecov', 'netSalesProceeds', 'nonMiRecov',
                 'expenses', 'legalCosts', 'maintPreservationCosts', 'taxesInsurance',
                 'miscExpenses', 'actualLossCalc', 'modificationCost',
                 'stepModificationFlag', 'deferredPaymentModification']
perf_2003.columns = perf_2003_cols
perf_2003.head()

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F103Q1000013,200303,110000.0,0,0,360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F103Q1000013,200304,110000.0,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F103Q1000013,200305,110000.0,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F103Q1000013,200306,110000.0,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F103Q1000013,200307,110000.0,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

# 2004:

In [36]:
# Origination Data
orig_2004 = pd.read_csv('~/src/data/u3CapstoneData/origination-data/sample_orig_2004.txt',
                               sep='|', header=None)
orig_2004_cols = ['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag', 'maturityDate',
                   'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
                   'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb',
                   'ltvRatio', 'interestRate', 'channel', 'ppmFlag', 'productType',
                   'propertyState', 'propertyType', 'postalCode', 'loanSequenceNumber',
                   'loanPurpose', 'originalLoanTerm', 'numberOfBorrowers', 'sellerName',
                   'servicerName', 'superConformingFlag'] # 'pre-HarpLoanSequenceNumber'
orig_2004.columns = orig_2004_cols
orig_2004.head()

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,758,200403,N,203402,NaN,0,1,P,80,36,...,IA,SF,51400.0,F104Q1000009,N,360,2,Other sellers,Other servicers,NaN
1,772,200403,N,203402,17140.0,0,1,P,60,10,...,OH,SF,45100.0,F104Q1000026,N,360,2,Other sellers,Other servicers,NaN
2,771,200403,N,203402,NaN,0,1,I,80,6,...,KS,SF,67400.0,F104Q1000035,P,360,2,Other sellers,Other servicers,NaN
3,753,200403,Y,203402,NaN,0,1,P,80,26,...,WI,SF,54600.0,F104Q1000053,P,360,2,Other sellers,Other servicers,NaN
4,747,200403,N,203402,30700.0,0,2,I,70,19,...,NE,PU,68500.0,F104Q1000098,P,360,1,Other sellers,Other servicers,NaN

In [37]:
# Monthly Performance Data
perf_2004 = pd.read_csv('~/src/data/u3CapstoneData/perf-data/sample_svcg_2004.txt',
                               sep='|', header=None, low_memory=False)
perf_2004_cols = ['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
                 'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity', 'repurchaseFlag',
                 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate', 'currentIntRate',
                 'curDeferredUpb', 'ddlpi', 'miRecov', 'netSalesProceeds', 'nonMiRecov',
                 'expenses', 'legalCosts', 'maintPreservationCosts', 'taxesInsurance',
                 'miscExpenses', 'actualLossCalc', 'modificationCost',
                 'stepModificationFlag', 'deferredPaymentModification']
perf_2004.columns = perf_2004_cols
perf_2004.head()

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F104Q1000009,200402,170000.0,0,0,360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F104Q1000009,200403,169000.0,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F104Q1000009,200404,169000.0,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F104Q1000009,200405,169000.0,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F104Q1000009,200406,169000.0,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

# 2005:

In [38]:
# Origination Data
orig_2005 = pd.read_csv('~/src/data/u3CapstoneData/origination-data/sample_orig_2005.txt',
                               sep='|', header=None)
orig_2005_cols = ['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag', 'maturityDate',
                   'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
                   'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb',
                   'ltvRatio', 'interestRate', 'channel', 'ppmFlag', 'productType',
                   'propertyState', 'propertyType', 'postalCode', 'loanSequenceNumber',
                   'loanPurpose', 'originalLoanTerm', 'numberOfBorrowers', 'sellerName',
                   'servicerName', 'superConformingFlag'] # 'pre-HarpLoanSequenceNumber'
orig_2005.columns = orig_2005_cols
orig_2005.head()

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,722,200504,N,203503,NaN,0,1,P,80,48,...,WA,MH,98200.0,F105Q1000064,P,360,2,Other sellers,Other servicers,NaN
1,759,200503,N,203502,NaN,0,1,P,25,25,...,MD,SF,20600.0,F105Q1000076,N,360,2,Other sellers,"PNCMTGESERVICES,INC",NaN
2,591,200504,N,203503,39100.0,0,1,P,48,34,...,NY,SF,12500.0,F105Q1000087,C,360,2,Other sellers,Other servicers,NaN
3,792,200503,N,203502,39100.0,0,1,P,90,33,...,NY,SF,12500.0,F105Q1000130,P,360,2,Other sellers,Other servicers,NaN
4,725,200503,N,203502,48864.0,0,1,P,49,41,...,DE,SF,19700.0,F105Q1000195,N,360,2,Other sellers,USBANKNA,NaN

In [39]:
# Monthly Performance Data
perf_2005 = pd.read_csv('~/src/data/u3CapstoneData/perf-data/sample_svcg_2005.txt',
                               sep='|', header=None, low_memory=False)
perf_2005_cols = ['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
                 'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity', 'repurchaseFlag',
                 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate', 'currentIntRate',
                 'curDeferredUpb', 'ddlpi', 'miRecov', 'netSalesProceeds', 'nonMiRecov',
                 'expenses', 'legalCosts', 'maintPreservationCosts', 'taxesInsurance',
                 'miscExpenses', 'actualLossCalc', 'modificationCost',
                 'stepModificationFlag', 'deferredPaymentModification']
perf_2005.columns = perf_2005_cols
perf_2005.head()

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F105Q1000064,200503,62000.0,0,0,360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F105Q1000064,200504,62000.0,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F105Q1000064,200505,62000.0,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F105Q1000064,200506,62000.0,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F105Q1000064,200507,62000.0,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

# 2016:

In [24]:
# Origination Data
orig_2016 = pd.read_csv('~/src/data/u3CapstoneData/origination-data/sample_orig_2016.txt',
                               sep='|', header=None)
orig_2016_cols = ['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag', 'maturityDate',
                   'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
                   'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb',
                   'ltvRatio', 'interestRate', 'channel', 'ppmFlag', 'productType',
                   'propertyState', 'propertyType', 'postalCode', 'loanSequenceNumber',
                   'loanPurpose', 'originalLoanTerm', 'numberOfBorrowers', 'sellerName',
                   'servicerName', 'superConformingFlag'] # 'pre-HarpLoanSequenceNumber'
orig_2016.columns = orig_2016_cols
orig_2016.head()

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,742,201603,Y,204602,NaN,0,1,P,80,44,...,OH,SF,43300,F116Q1000017,P,360,2,Other sellers,Other servicers,NaN
1,776,201604,9,204603,NaN,0,1,P,46,47,...,CO,SF,81200,F116Q1000025,C,360,1,Other sellers,USBANKNA,NaN
2,776,201603,9,204602,13780.0,0,2,I,75,34,...,NY,SF,13900,F116Q1000034,P,360,2,Other sellers,Other servicers,NaN
3,719,201603,N,204602,14260.0,30,1,P,95,27,...,ID,SF,83600,F116Q1000051,P,360,2,Other sellers,USBANKNA,NaN
4,695,201603,N,204602,NaN,30,1,P,95,38,...,OH,SF,45300,F116Q1000076,P,360,2,Other sellers,"PNCBANK,NATL",NaN

In [25]:
# Monthly Performance Data
perf_2016 = pd.read_csv('~/src/data/u3CapstoneData/perf-data/sample_svcg_2016.txt',
                               sep='|', header=None, low_memory=False)
perf_2016_cols = ['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
                 'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity', 'repurchaseFlag',
                 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate', 'currentIntRate',
                 'curDeferredUpb', 'ddlpi', 'miRecov', 'netSalesProceeds', 'nonMiRecov',
                 'expenses', 'legalCosts', 'maintPreservationCosts', 'taxesInsurance',
                 'miscExpenses', 'actualLossCalc', 'modificationCost',
                 'stepModificationFlag', 'deferredPaymentModification']
perf_2016.columns = perf_2016_cols
perf_2016.head()

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F116Q1000017,201602,91000.0,0,0,360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F116Q1000017,201603,90000.0,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F116Q1000017,201604,90000.0,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F116Q1000017,201605,90000.0,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F116Q1000017,201606,90000.0,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

# 2017:

In [4]:
# Origination Data
orig_2017 = pd.read_csv('~/src/data/u3CapstoneData/origination-data/sample_orig_2017.txt',
                               sep='|', header=None)
orig_2017_cols = ['creditScore', 'firstPaymentDate', 'firstTimeHomebuyerFlag', 'maturityDate',
                   'msa', 'mortagageInsurancePercentage', 'numberOfUnits',
                   'occupancyStatus', 'cltvRatio', 'dtiRatio', 'upb',
                   'ltvRatio', 'interestRate', 'channel', 'ppmFlag', 'productType',
                   'propertyState', 'propertyType', 'postalCode', 'loanSequenceNumber',
                   'loanPurpose', 'originalLoanTerm', 'numberOfBorrowers', 'sellerName',
                   'servicerName', 'superConformingFlag'] # 'pre-HarpLoanSequenceNumber'
orig_2017.columns = orig_2017_cols
orig_2017.head()

,creditScore,firstPaymentDate,firstTimeHomebuyerFlag,maturityDate,msa,mortagageInsurancePercentage,numberOfUnits,occupancyStatus,cltvRatio,dtiRatio,...,propertyState,propertyType,postalCode,loanSequenceNumber,loanPurpose,originalLoanTerm,numberOfBorrowers,sellerName,servicerName,superConformingFlag
0,794,201703,9,204702,24260.0,0,1,P,74,29,...,NE,SF,68800,F117Q1000068,C,360,2,Other sellers,Other servicers,NaN
1,776,201703,N,203202,NaN,0,1,P,50,20,...,OH,SF,44600,F117Q1000079,P,180,1,Other sellers,Other servicers,NaN
2,795,201703,9,203202,49180.0,0,1,P,55,26,...,NC,SF,27200,F117Q1000090,C,180,1,Other sellers,Other servicers,NaN
3,785,201705,9,204704,NaN,30,1,P,95,20,...,OK,SF,74800,F117Q1000113,N,360,2,Other sellers,Other servicers,NaN
4,758,201703,9,203202,24260.0,0,1,P,80,35,...,NE,SF,68800,F117Q1000168,C,180,2,Other sellers,Other servicers,NaN

In [5]:
# Monthly Performance Data
perf_2017 = pd.read_csv('~/src/data/u3CapstoneData/perf-data/sample_svcg_2017.txt',
                               sep='|', header=None, low_memory=False)
perf_2017_cols = ['loanSequenceNumber', 'monthlyReportingPeriod', 'currentActualUpb',
                 'currentLoanDelinquencyStatus', 'loanAge', 'remainMthsToMaturity', 'repurchaseFlag',
                 'modificationFlag', 'zeroBalCode', 'zeroBalEffDate', 'currentIntRate',
                 'curDeferredUpb', 'ddlpi', 'miRecov', 'netSalesProceeds', 'nonMiRecov',
                 'expenses', 'legalCosts', 'maintPreservationCosts', 'taxesInsurance',
                 'miscExpenses', 'actualLossCalc', 'modificationCost',
                 'stepModificationFlag', 'deferredPaymentModification']
perf_2017.columns = perf_2017_cols
perf_2017.head()

,loanSequenceNumber,monthlyReportingPeriod,currentActualUpb,currentLoanDelinquencyStatus,loanAge,remainMthsToMaturity,repurchaseFlag,modificationFlag,zeroBalCode,zeroBalEffDate,...,nonMiRecov,expenses,legalCosts,maintPreservationCosts,taxesInsurance,miscExpenses,actualLossCalc,modificationCost,stepModificationFlag,deferredPaymentModification
0,F117Q1000068,201702,129000.0,0,0,360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,F117Q1000068,201703,129000.0,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,F117Q1000068,201704,128000.0,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,F117Q1000068,201705,128000.0,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,F117Q1000068,201706,128000.0,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,